body {
    --collection-size: 640px;
    --collection-list-size: calc(var(--collection-size)/4);
    --collection-card-width: 100px;
    --collection-card-height: 130px;
    --collection-card-border-radius: 5px;
    --collection-card-duplicity-size: 25px;
    --collection-card-duplicity-rotation: rotate(10deg);
    --collection-card-lose-size: 25px;
}

h1 { text-align: center; }

.card.collection, .collector {
    width: var(--collection-size);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.card.collection {
    justify-content: space-around;
}

.collector {
    margin-bottom: var(--collection-card-border-radius);
    justify-content: center;
}

.card.list {
    width: var(--collection-list-size);
}

.card.list .card {
    width: var(--collection-card-width);
    height: var(--collection-card-height);
    margin-top: var(--collection-card-border-radius);
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--collection-card-border-radius);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card.list .card:first-child {
    margin-top: 0;
}

.card.list > div {
    position: relative;
    margin-top: var(--collection-card-border-radius);
}

.card.list > div:first-child {
    margin-top: 0;
}

.card.list .duplicity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--collection-card-duplicity-size);
    height: var(--collection-card-duplicity-size);
    border-radius: calc(var(--collection-card-duplicity-size)/2);
    transform: var(--collection-card-duplicity-rotation);
    background-color: red;
    color: black;
    position: absolute;
    top: calc(2*var(--collection-card-border-radius));
    left: 60%;
}

.card.list .lose {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--collection-card-lose-size);
    height: var(--collection-card-lose-size);
    border-radius: calc(var(--collection-card-lose-size)/2);
    background-color: blue;
    color: white;
    position: absolute;
    top: var(--collection-card-border-radius);
    left: 10%;
}

.user {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
}